.navContainer{
  display: flex;
  align-items: center;
  padding: 5px;
}

.navLogo{
  margin-right: auto;
}

.navLinkContainer{
  display: flex;
  flex-direction: row;
}

.navLink{
  margin: 5px;
  padding: 5px;
}